In [1]:
import pandas as pd

In [2]:
d = pd.read_csv("/Users/anwar/GraphMiner/data/evaluation_data_unique1.csv")

In [3]:
d.head()

  author_id  article_id  ref_obj_id  proc_id
0  a_117253      122704        5640     5600
1  a_117253      122704        5906     5600
2  a_256546      313777       10534    10515
3   a_95474     2063517       10546    10515
4  a_268309     1542260       10549    10515

In [4]:
x = d[['author_id', 'proc_id']].groupby(['author_id', 'proc_id'])['proc_id'].count().reset_index(name="Count")

In [6]:
x[x['Count'] >2]

      author_id  proc_id  Count
19     a_100602   982792      4
38     a_100769   191666      4
48     a_100820  1833349      3
70     a_101460  1111037      3
76     a_101547    15922      3
78     a_101547    54852      5
79     a_101547   325334      4
121    a_102365  1555754      3
142    a_103235   958491      3
161    a_103293  2001420      3
213    a_105697  1555754      3
299    a_107363  1870926      3
300    a_107363  2039370      3
312    a_107391  1186562      3
314    a_107391  1275808      3
316    a_107391  1576246      3
318    a_107425   277650      3
325    a_107429  1179352      3
327    a_107429  1186822      3
330    a_107429  1576246      3
350    a_107547  1129601      3
402    a_110369  1399504      3
410    a_110533    15922      3
412    a_110533    54852      5
413    a_110533   325334      4
420    a_110571   588058      3
433    a_111166   133994      3
436    a_111166   237170      4
446    a_111331   108844      3
513     a_11376    28697      3
...         ...      ...    ...
10425   a_68730  1576246      3
10426   a_68730  1833349      4
10479   a_70300  1653771      3
10506   a_70508  1830761     11
10515   a_70588  1275808      4
10524   a_70593  1275808      3
10527   a_70593  1833349      4
10565   a_71187   571825      3
10573   a_71297   545215      3
10577   a_71297   859618      3
10594   a_72291  1008992      3
10633    a_7326  1148170      3
10634    a_7326  1242572      3
10651   a_73379   383259      3
10654   a_73379  1186562      3
10732   a_77885  1399504      3
10842   a_80805  1095810      4
10887   a_81691  1553374      3
10927    a_8289   218380      3
10932    a_8289   383259      4
10980   a_84008   130385      3
11038   a_85630   566570      3
11077   a_86054   383952      3
11156   a_88217   827140      4
11185   a_89175   311535      3
11295   a_93697   800033      3
11335    a_9483  1279740      4
11378   a_95107  1277741      3
11381   a_95107  1390334      4
11430   a_96693   336597      3

[377 rows x 3 columns]

In [7]:
x.to_csv('/Users/anwar/Box Sync/Graph Mining/EvaluationData/Author_Cite_Count.csv', index=False)