In [1]:
import pandas as pd

In [2]:
d = pd.read_csv("/Users/anwar/GraphMiner/data/evaluation_data_unique1.csv")

In [3]:
d.head()

  author_id  article_id  ref_obj_id  proc_id
0  a_117253      122704        5640     5600
1  a_117253      122704        5906     5600
2  a_256546      313777       10534    10515
3   a_95474     2063517       10546    10515
4  a_268309     1542260       10549    10515

In [4]:
x = d[['author_id', 'proc_id']].groupby(['author_id', 'proc_id'])['proc_id'].count().reset_index(name="Count")

In [8]:
x_gt_2 = x[x['Count'] >1]

In [10]:
x_gt_2.shape

(1699, 3)

In [11]:
x_gt_2['Count'].sum()

3908

In [7]:
x.to_csv('/Users/anwar/Box Sync/Graph Mining/EvaluationData/Author_Cite_Count.csv', index=False)