In [1]:
import pandas as pd

In [2]:
d = pd.read_csv("/Users/anwar/GraphMiner/data/evaluation_data_unique1.csv")

In [3]:
d.head()

  author_id  article_id  ref_obj_id  proc_id
0  a_117253      122704        5640     5600
1  a_117253      122704        5906     5600
2  a_256546      313777       10534    10515
3   a_95474     2063517       10546    10515
4  a_268309     1542260       10549    10515

In [16]:
x = d[['author_id', 'proc_id']].groupby(['author_id', 'proc_id'])['proc_id'].count().reset_index(name="Count")

In [20]:
x[x['Count'] >3]

      author_id  proc_id  Count
19     a_100602   982792      4
38     a_100769   191666      4
78     a_101547    54852      5
79     a_101547   325334      4
412    a_110533    54852      5
413    a_110533   325334      4
436    a_111166   237170      4
546    a_115088   344779      4
552    a_115104   383259      4
554    a_115104  1201775      4
599    a_116789   988672      4
612    a_117253    31820      4
776    a_125643   266989      4
884    a_127683   545215      4
1078   a_130712  1179352      4
1259   a_133739  1576246      5
1277   a_134519    28697      4
1279   a_134519    74877      5
1333    a_13596   290941      4
1506   a_137893    52324      4
1639   a_142486   383259      4
1641   a_142486  1201775      4
1654   a_142531   800230      6
1661   a_142606   344779      5
1893   a_148605  1275808      5
2485    a_16395  1056808      4
2840    a_17241   266838      5
2846   a_172785  1135777      4
2873   a_173683  1282380      4
2928   a_174980  2337223      7
...         ...      ...    ...
8152   a_308439   191666      4
8221   a_309903  1833349      4
8435   a_312589  1186822      4
8471   a_313154  1644893      4
8520   a_314495  2508859      4
8564   a_314772  1390334      4
8642   a_316428   988672      4
8881   a_320547  1736020      4
9029   a_325058  1135777      4
9077    a_32876   290941      4
9153    a_34008  1390334      4
9226    a_35852   266800      4
9333     a_3931  2229012      4
9538    a_46140   859618      4
9586    a_46654  2348283      4
9678    a_50066  1399504      4
9945    a_60410   192844      4
10032   a_62170   958491      6
10068   a_62894  1736020      4
10145   a_64162    50202      4
10276   a_65806   273133      4
10426   a_68730  1833349      4
10506   a_70508  1830761     11
10515   a_70588  1275808      4
10527   a_70593  1833349      4
10842   a_80805  1095810      4
10932    a_8289   383259      4
11156   a_88217   827140      4
11335    a_9483  1279740      4
11381   a_95107  1390334      4

[96 rows x 3 columns]