In [1]:
import pandas as pd
import csv

In [2]:
journal_uid = pd.read_csv("D:\\Work\\Database\\CSV\\journal_uid.csv")

In [9]:
del journal_uid['journal_name']

In [10]:
journal_uid.head()

   journal_uid journal_id    year
0            1      J1000  2006.0
1            2      J1000  2007.0
2            3      J1000  2008.0
3            4      J1000  2009.0
4            5      J1000  2010.0

In [4]:
journal_paper_year = pd.read_csv("D:\\Work\\Database\\CSV\\journalid_name_articleid_year.csv")

In [8]:
journal_paper_year.head()

  journal_id  article_id    year
0       J954     2674836  2014.0
1       J954     2674837  2014.0
2       J954     2674838  2014.0
3       J954     2674839  2014.0
4       J954     2674840  2014.0

In [11]:
merged_df = journal_paper_year.merge(journal_uid, on=['journal_id', 'year'], how='left')

In [12]:
merged_df.head()

  journal_id  article_id    year  journal_uid
0       J954     2674836  2014.0         2170
1       J954     2674837  2014.0         2170
2       J954     2674838  2014.0         2170
3       J954     2674839  2014.0         2170
4       J954     2674840  2014.0         2170

In [14]:
del merged_df['journal_id']

In [15]:
del merged_df['year']

In [16]:
merged_df.head()

   article_id  journal_uid
0     2674836         2170
1     2674837         2170
2     2674838         2170
3     2674839         2170
4     2674840         2170

In [17]:
merged_df.to_csv('D:\\Work\\Database\\CSV\\paper_journal_uid.csv', index= False)