In [1]:
import pandas as pd

In [2]:
input_data = pd.read_csv('/Users/anwar/java_workspace/Graph-Mining-Project/output/graph_features_max_depth_6/featureOutput_maxDepth_6.csv')

In [4]:
input_data.head()

,AuthorId,ArticleId,ShortestDistance,RandomWalkProbability,CurrentScoringMethod,PathLength=1,PathLength=2,PathLength=3,PathLength=4,PathLength=5,PathLength=6
0,a_27227,1250919,4,0.009957,0.001788,0,0,0,4,106,4456
1,a_27227,1250918,4,0.086772,0.014963,0,0,0,25,921,30697
2,a_27227,1250955,4,0.123706,0.022744,0,0,2,36,1143,29539
3,a_27227,1250954,2,0.078837,0.028206,1,1,9,239,3046,40411
4,a_27227,1250913,3,0.206209,0.037707,0,0,6,100,3149,71164

In [5]:
input_data.shape

(44095, 11)

In [6]:
cite_data = pd.read_csv('/Users/anwar/Box Sync/Graph Mining/EvaluationData/evaluation_data_unique1.csv')

In [7]:
cite_data.head()

  author_id  article_id  ref_obj_id  proc_id
0  a_117253      122704        5640     5600
1  a_117253      122704        5906     5600
2  a_256546      313777       10534    10515
3   a_95474     2063517       10546    10515
4  a_268309     1542260       10549    10515

In [8]:
cite_data.shape

(13768, 4)

In [9]:
cite_data = cite_data.drop(['article_id', 'proc_id'], 1)

In [10]:
cite_data.head()

  author_id  ref_obj_id
0  a_117253        5640
1  a_117253        5906
2  a_256546       10534
3   a_95474       10546
4  a_268309       10549

In [11]:
cite_data = cite_data.drop_duplicates()

In [12]:
cite_data['cited'] = 1

In [13]:
cite_data.columns= ['AuthorId', 'ArticleId', 'Cited']

In [14]:
cite_data.head()

   AuthorId  ArticleId  Cited
0  a_117253       5640      1
1  a_117253       5906      1
2  a_256546      10534      1
3   a_95474      10546      1
4  a_268309      10549      1

In [15]:
cite_data.shape

(13768, 3)

In [16]:
merged_df = input_data.merge(cite_data, how='left', on=['AuthorId', 'ArticleId'])

In [17]:
merged_df.head()

,AuthorId,ArticleId,ShortestDistance,RandomWalkProbability,CurrentScoringMethod,PathLength=1,PathLength=2,PathLength=3,PathLength=4,PathLength=5,PathLength=6,Cited
0,a_27227,1250919,4,0.009957,0.001788,0,0,0,4,106,4456,NaN
1,a_27227,1250918,4,0.086772,0.014963,0,0,0,25,921,30697,NaN
2,a_27227,1250955,4,0.123706,0.022744,0,0,2,36,1143,29539,NaN
3,a_27227,1250954,2,0.078837,0.028206,1,1,9,239,3046,40411,NaN
4,a_27227,1250913,3,0.206209,0.037707,0,0,6,100,3149,71164,NaN

In [18]:
merged_df.shape

(44095, 12)

In [19]:
merged_df['Cited'].sum()

993.0

In [20]:
merged_df = merged_df.fillna(0)

In [21]:
merged_df.to_csv('/Users/anwar/java_workspace/Graph-Mining-Project/output/graph_features_max_depth_6/feature_vector_Wclass.csv',index=False)

In [23]:
positive_cases = merged_df[merged_df['Cited'] == 1]

In [24]:
unlabled_cases = merged_df[merged_df['Cited'] == 0]