In [88]:
import pandas as pd

In [89]:
input_data = pd.read_csv('/Users/anwar/java_workspace/Graph-Mining-Project/output/graph_features_max_depth_4/featureOutput_maxDepth_4.csv')

In [90]:
input_data.head()

,AuthorId,ArticleId,ShortestDistance,RandomWalkProbability,CurrentScoringMethod,PathLength=1,PathLength=2,PathLength=3,PathLength=4
0,a_71187,571857,2,0.032341,0.009708,0,5,81,2676
1,a_71187,571835,4,0.000303,0.000076,0,0,0,26
2,a_71187,571856,4,0.000861,0.000215,0,0,0,87
3,a_71187,571834,4,0.000224,0.000056,0,0,0,7
4,a_71187,571877,-1,0.000000,0.000000,0,0,0,0

In [91]:
input_data.shape

(163887, 9)

In [92]:
cite_data = pd.read_csv('/Users/anwar/Box Sync/Graph Mining/EvaluationData/evaluation_data_unique1.csv')

In [93]:
cite_data.head()

  author_id  article_id  ref_obj_id  proc_id
0  a_117253      122704        5640     5600
1  a_117253      122704        5906     5600
2  a_256546      313777       10534    10515
3   a_95474     2063517       10546    10515
4  a_268309     1542260       10549    10515

In [94]:
cite_data.shape

(13768, 4)

In [95]:
cite_data = cite_data.drop(['article_id', 'proc_id'], 1)

In [96]:
cite_data.head()

  author_id  ref_obj_id
0  a_117253        5640
1  a_117253        5906
2  a_256546       10534
3   a_95474       10546
4  a_268309       10549

In [97]:
cite_data = cite_data.drop_duplicates()

In [98]:
cite_data['cited'] = 1

In [99]:
cite_data.columns= ['AuthorId', 'ArticleId', 'Cited']

In [100]:
cite_data.head()

   AuthorId  ArticleId  Cited
0  a_117253       5640      1
1  a_117253       5906      1
2  a_256546      10534      1
3   a_95474      10546      1
4  a_268309      10549      1

In [101]:
cite_data.shape

(13768, 3)

In [102]:
merged_df = input_data.merge(cite_data, how='left', on=['AuthorId', 'ArticleId'])

In [103]:
merged_df.head()

,AuthorId,ArticleId,ShortestDistance,RandomWalkProbability,CurrentScoringMethod,PathLength=1,PathLength=2,PathLength=3,PathLength=4,Cited
0,a_71187,571857,2,0.032341,0.009708,0,5,81,2676,1.0
1,a_71187,571835,4,0.000303,0.000076,0,0,0,26,NaN
2,a_71187,571856,4,0.000861,0.000215,0,0,0,87,NaN
3,a_71187,571834,4,0.000224,0.000056,0,0,0,7,NaN
4,a_71187,571877,-1,0.000000,0.000000,0,0,0,0,NaN

In [104]:
merged_df.shape

(163887, 10)

In [105]:
merged_df['Cited'].sum()

3893.0

In [106]:
merged_df = merged_df.fillna(0)

In [107]:
merged_df.to_csv('/Users/anwar/java_workspace/Graph-Mining-Project/output/graph_features_max_depth_4/feature_vector_Wclass.csv',index=False)